<ion-header>
    <ion-toolbar color="medium">

        <ion-buttons color="light" slot="start">

            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">

    <ion-card *ngFor="let item of lavoriCaricati">
        <ion-card-header></ion-card-header>
        <ion-card-content>
            <div class="item-note" slot="center">
                {{item.descrizione}} {{item.created}}
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
