<ion-header>
    <ion-toolbar color="medium">

            <ion-buttons color="light" slot="start">

                <ion-menu-button></ion-menu-button>
            </ion-buttons><ion-title color="light">
            Lavori caricati
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">


    <ion-card href="./home" *ngFor="let item of lavoriCaricati">
        <ion-card-header>
            <div class="ion-text-right"> {{item.categoria}}</div>
           <a href="./login">{{item.nome}}</a>
        </ion-card-header>
        <ion-card-content>


            <div class="item-note" slot="center">
                {{item.descrizione}}
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
