



<ion-content padding class="background">
    <ion-menu-button color="medium"></ion-menu-button>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <div>
  <ion-title class="titolo" >Sign up</ion-title>
  <ion-input placeholder="Nome"></ion-input>
  <ion-input placeholder="Cognome" ></ion-input>
  <ion-input placeholder="Email"></ion-input>
  <ion-input placeholder="Password"></ion-input>
  <ion-input placeholder="Ripeti la password"></ion-input>

        </div>
        <ion-button color="light">registrati</ion-button>

      </ion-col>
      </ion-row><ion-row> <ion-col><a href="./login" >Gia' registrato? clicca qui</a></ion-col></ion-row>
  </ion-grid>






</ion-content>
