<ion-content padding class="background">
  <ion-menu-button color="medium"></ion-menu-button>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <div>
          <ion-title class="titolo" >Log in</ion-title>

          <ion-input placeholder="Email"></ion-input>
          <ion-input placeholder="Password"></ion-input>

        </div>
        <ion-button color="light">login</ion-button>

      </ion-col>
    </ion-row><ion-row> <ion-col><a href="./registration" >Non sei ancora registrato? clicca qui</a></ion-col></ion-row>
  </ion-grid>



</ion-content>
