
ion-item{margin-left: 15%;
  text-align: center;
  border-bottom: solid 1px #6090af;
  alignment: center;
  width: 70%;
}
ion-card{
  background: white;
}
ion-button{
  alignment: center;
  color: white;
  background: white;
  width: 68%;
  margin-top: 3%;
  margin-left: 16%;
}
ion-select{margin-left :35px}