<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons   slot="start">

      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <img src="https://i.ibb.co/7YpGQvF/icona1.png" >
    <ion-card class="welcome-card" >

      <ion-card-header>
        <ion-card-subtitle>Inizia da qui</ion-card-subtitle>
        <ion-card-title>Benvenuto su FindJob</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>FindJob e' una piattaforma creata per facilitare l'ardua ricerca di un posto di lavoro, con un'interfaccia user friendly e' utilizzabile da tutti, inizia cliccando <a href="./registration">qui registrandoti</a> </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="./update-profile">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="./update-profile">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Modifica Profilo</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
